*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}
body{
    background: url("images.jpg") no-repeat;
    background-size: cover;
    height: auto;
    overflow: auto;
}
.manue_bar ul{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.manue_bar li{
    list-style-type: none;
    font-size: 30px;
}
li a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
li a:hover{
    background: black;
    padding: 10px;
    border-radius: 5px;
}
.srch{
    text-align: center;
    margin-top: 30px;
}
#srch{
    width: 250px;
    height: 40px;
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 0.5px solid blue;
    border-radius: 5px;
    opacity: 0.5;
}
.btn{
    background-color: blue;
    color: white;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px;
    opacity: 0.5;
    cursor: pointer;
    margin-right: 50px;
}
.btn:hover{
    opacity: 1;
    transition: 0.3s ease-in-out;
}
#srch:focus, input:focus{
    outline: none;
    opacity: 1;
}
main .container{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.container h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.container .about{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.container #myphoto{
    width: 70%;
    height: 270px;
    border-radius: 50%;
    border: 2px solid blue;
    box-shadow: 0px 0px 20px blue;
}
h2#welcome{
    color: white;
    text-align: center;
    background-color: black;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.form-container{
    width: 70%;
    margin:  auto;
    text-align: center;
}
form{
    padding: 10px;
    width: 100%;
}
.form-container h2{
    color: white;
    padding: 10px;
    font-family: Arial;
}
form input{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 70%;
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
    border: 1px solid blue;
    border-radius: 10px;
}
.form-container fieldset{
    border: 1.5px solid blue;
    border-radius: 10px;
    background-color: aliceblue;
}
input::placeholder{
    color: white;
    opacity: .8;
    font-size: 15px;
}

footer{
    width: 100%;
    margin-top: 30px;
    background-color: white;
}
footer .footer-container{
    text-align: center;
    padding: 50px;
}